.body {
  form {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

.full {
  background-color: transparent;
  position: absolute;
  top: 0%;
  left: 0%;
  border: none;
  width: 10%;
  margin-right: 40%;
  height: 10%;
  margin-top: 3%;

  svg {
    cursor: pointer;
    width: 100%;
    height: 100%;
    path {
      fill: white;
    }
  }
}
